h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p {
    margin: 0;
}

ul,
li {
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color:#FFFFFF ;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

 .container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;

 }


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    display: none;
}

/* #region header */
.main-logo {
font-family: 'Raleway',sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#4d5ae5;
margin-right: 76px;
}

.text-raleway {
    color:#2e2f42;
}

.nav-link{
display: block;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
font-weight: 500;
padding: 24px 0;
position: relative;
color: #404bbf; ;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
    color:#404bbf; 
}

.nav-link::after {
    content: '';
        position: absolute;
        bottom: -1px;
        border-radius: 2px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        opacity: 0;
        transform: scaleX(0);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.active::after {
    opacity: 1;
    transform: scaleX(1);
} 

.contact-info {
    font-style: normal;
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
        

.contact-message {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info :hover,
.contact-info :focus,
.contact-info :active {
    color:#404bbf;
}

.header-background .container{
display: flex;
justify-content: space-between;
align-items: center;
}

.header-background {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}
/* #endregion header */

/* #region hero */ 
.page {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/hero.jpg);
    padding: 188px 0;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}


.page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    text-align: center;
    margin: 0 auto 48px;
}
.button {
cursor: pointer;
font-weight: 500;
font-size: 16px;
 line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4D5AE5;
text-align: center;
min-width: 169px;
height: 56px;
border-radius: 4px;
border: none;
cursor: pointer;
display: block;
flex-direction: column;
margin: 0 auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404bbf;
}   
/* #endregion hero */

/* #region benefits */
.strategy-list-section{
    background-color: #FFFFFF;
    display: flex;
    gap: 24px;
}

.strategy-list {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42;
margin-bottom: 8px;
}

.strategy-item {
font-weight: 400;
font-size: 16px;
color: #434455;
}

p {
line-height: 1.5;
letter-spacing: 0.02em;
}

.benefits {
    padding: 120px 0
}

.strategy {
width: calc((100% - 72px) / 4);
}

.container-svg {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }


/* #endregion benefits */ 

/* #region team */  
.title-isteam-section{
background-color: #f4f4fd;
padding: 120px 0;
}

.heading-workers {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
}

.title-line {
background-color:#FFFFFF;
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2e2f42;
text-align: center;
margin-bottom: 8px;
}

.title-iteam{
font-weight: 400;
font-size: 16px;
 line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
}

.title-list {
display: flex;
gap: 24px;
}

.title-workers {
    padding: 32px 0;
}

.networks{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-networks{
    width: 40px;
    height: 40px;
}

.networks-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-link:hover,
.networks-link:focus {
    background-color: #404bbf;
}

.logo-link {
    fill: #f4f4fd;
}
/* #endregion team */

/* #region portfolio */
.heading  {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42; 
margin-bottom: 72px;
justify-content: space-between;
    align-items: center;
    height: 80px;

}

.portfolio-heading{
color:#2e2f42;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em; 
margin-bottom: 8px;
}

.portfolio-iteam {
font-size: 16px;
color: #434455;
}

p {
line-height: 1.5;
letter-spacing: 0.02em;
}

.heading-list {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;

}

.container-heading {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.portfolio-section {
    padding-top: 120px; 
    padding-bottom: 120px;
}

.portfolio-list {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-list:hover,
.portfolio-list:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-images {
    position: relative;
    overflow: hidden;
}
.paragraph {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.paragraph:hover,
.paragraph:focus {
    transform: translateY(0%);
}
.portfolio-list:hover .paragraph {
    transform: translateY(0%);
}
/* #endregion portfolio */

/* #region footer */
.footer-background {
    background-color: #2e2f42;
    padding: 100px 0;

}   

.text-raleway-footer {
    color: #f4f4fd;
}

.footer-logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    background-color: #2e2f42;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
background-color: #2e2f42;
max-width: 264px;
margin-bottom: 16px;
}

.container-footer {
    display: flex;
    align-items: baseline;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 1158px;
    margin-left: auto;
     margin-right: auto;
}

.logo-paragraph {
    margin-right: 120px;
}

.copyright{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-networks{
    display: flex;
    gap: 16px;  
}
.footer-social-networks{
    width: 40px;
    height: 40px;   
}

.footer-networks-link {
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-networks-link:hover,
.footer-networks-link:focus {
    background-color: #31d0aa;
}
.footer-logo-link {
    fill: #f4f4fd;
}
/* #endregion footer */
